<% include header.ejs %>
<div class="page-header">
    <h1 align="center"><%= title %><br/><small><%= time %></small></h1>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
        <h4 style="white-space:pre-wrap"><%= post %></h4>   <br/><br/>
        </div>
    </div>
</div>

<div class="page-header"></div>
<form class="form-horizontal" method="post">
    <div class="container">
        <div class="form-group col-xs-12">
            <input type = "hidden" name = "title" value ="<%= title %>">
            <% if(user) {%>
                <input type = "hidden" name = "username" value ="<%= user.name %>">
            <% }else{ %>
                <input type = "hidden" name = "username" value ="">
            <% } %>
            <label for="Account number" class="logintext">Comment</label>
            <textarea class="form-control" name="comment" type="text" rows="5"></textarea>
            <br/>
            <button type="submit" class="btn btn-default" id="push">Push</button>
            <br/><br/>
            <label for="all comment number" class="logintext">ALL Comment</label>
        </div>
    </div>
</form>
<% comments.forEach(function(comment,index){ %>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%= comment.user %>:</h4>
                <h5 style="white-space:pre-wrap">            <%= comment.comment %></h5>
            </div>
        </div>
    </div>
<% }); %>

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% include footer.ejs %>